<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesys.base.sysmag.aclright.dao.AclRightMapper">
	<select id="hasRightByUserName" resultType="Long">
		select count(0) as icount from base_acluserrelrole a,
			base_aclrolebutton b,
			base_aclbutton c,
			base_aclmodule d,
			base_acluser e
		where d.code=#{modulecode} and c.code=#{buttoncode} and e.name=#{username} and ifnull(b.permission,0)=1 and
			a.role_id=b.role_id and b.button_id=c.id and d.id=c.module_id  and e.id=a.user_id		
	</select>
	<select id="hasRightByUserId" resultType="Long">
		select count(0) as icount from base_acluserrelrole a,
			base_aclrolebutton b,
			base_aclbutton c,
			base_aclmodule d,
			base_acluser e
		where d.code=#{modulecode} and c.code=#{buttoncode} and e.id=#{userid} and ifnull(b.permission,0)=1 and
			a.role_id=b.role_id and b.button_id=c.id and d.id=c.module_id  and e.id=a.user_id		
	</select>
	
	<select id="findUserModuleHasRight" resultType="AclButton">
		select distinct c.* from base_acluserrelrole a,
			base_aclrolebutton b,
			base_aclbutton c,
			base_aclmodule d,
			base_acluser e
		where d.code=#{modulecode} and e.name=#{username} and ifnull(b.permission,0)=1 and
			a.role_id=b.role_id and b.button_id=c.id and d.id=c.module_id  and e.id=a.user_id		
	</select>			
</mapper>