<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesys.base.sysmag.aclmodule.dao.AclModuleMapper">
	
	<resultMap type="AclModule" id="AclModuleResultMap">
		<id column="id" property="id"/>
		<result column="version" property="version"/>
		<result column="parent_id" property="parent_id"/>
		<result column="cname" property="cname"/>
		<result column="code" property="code"/>
		<result column="url" property="url"/>
		<result column="orderNo" property="orderNo"/>
		<result column="status" property="status"/>
		<result column="prtcode" property="parent.code"/>
		<result column="prtcname" property="parent.cname"/>
		<result column="prtid" property="parent.id"/>
	</resultMap>
	
	<sql id="commonWhereSql">
		<trim prefix="where" prefixOverrides="and|or">
		    <if test="aclModule.cname != null and aclModule.cname != ''">
		    	a.cname like concat('%',#{aclModule.cname},'%')
		    </if>
		    <if test="aclModule.code != null and aclModule.code != ''">
		    	and a.code like concat('%',#{aclModule.code},'%')
		    </if>
		    <if test="aclModule.url != null and aclModule.url != ''">
		    	and a.url like concat('%', #{aclModule.url},'%')
		    </if>
		    <if test="aclModule.status != null and aclModule.status != ''">
		    	and a.status = #{aclModule.status}
		    </if>	
		    <if test="aclModule.parent_id != null and  aclModule.parent_id != ''">
		    	and ifnull(a.parent_id,'') = #{aclModule.parent_id}
		    </if>		    		    
		    <if test="aclModule.parent != null and aclModule.parent.id != null and  aclModule.parent.id != ''">
		    	and ifnull(a.parent_id,'') = #{aclModule.parent.id}
		    </if>
		    <if test="aclModule.parent != null and aclModule.parent.cname != null and  aclModule.parent.cname != ''">
		    	and ifnull(a.parent_id,'') in (select id from base_aclmodule where cname like   concat('%', #{aclModule.parent.cname},'%'))
		    </if>			    
		</trim>   
	</sql>
		
	<select id="findFlexiPageAclModuleCount" parameterType="AclModule" resultType="Long">
		select count(0) from base_aclmodule a 
		<include refid="commonWhereSql"></include>
	</select>	
		
	<select id="findFlexiPageAclModules"  resultMap="AclModuleResultMap">
	    select a.*,b.id as prtid,b.code as prtcode,b.cname as prtcname from base_aclmodule a left join base_aclmodule b on b.id=a.parent_id
	    <include refid="commonWhereSql"></include>
		order by lastModifyTime desc
		limit #{flexiPageDto.seq},#{flexiPageDto.rp}	    
	</select>
	
	<select id="doOpCalNextSeq" parameterType="String" resultType="Integer">
	    select ifnull(max(ifnull(orderNo,0)),0)+1 as nextseq from base_aclmodule where ifnull(parent_id,'')=#{parentid};
	</select>
	
	<select id="findAclModuleByParentId" parameterType="String" resultMap="AclModuleResultMap">
		select a.*,b.id as prtid,b.code as prtcode,b.cname as prtcname from base_aclmodule a left join base_aclmodule b on b.id=a.parent_id
		where ifnull(a.parent_id,'') = #{parentid} order by orderNo asc;
	</select>
	
	<select id="findAclModulebycode" parameterType="String" resultMap="AclModuleResultMap">
	   select a.*,b.id as prtid,b.code as prtcode,b.cname as prtcname from base_aclmodule a left join base_aclmodule b on b.id=a.parent_id
	   where a.code=#{code};
	</select>
	
	<select id="findAclModulebyId" parameterType="String" resultMap="AclModuleResultMap">
	   select a.*,b.id as prtid,b.code as prtcode,b.cname as prtcname from base_aclmodule a left join base_aclmodule b on b.id=a.parent_id
	   where a.id=#{id};
	</select>	
	
	<select id="findAclModuleCountByParentId" parameterType="Integer">
		select count(*) as icount from base_aclmodule a where ifnull(a.parent_id,'')=#{parentid};
	</select>
	
	<select id="findAclModuleCountByCode" resultType="Integer">
	    select count(*) as icount from base_aclmodule a where code=#{modulecode}
		    <if test="moduleId != null and  moduleId != ''">
		    	and ifnull(a.id,'')!= #{moduleId}
		    </if>		    
	</select>
	
	<select id="findAclModuleTreeDatas" resultType="JqGridUiTreeItem">
		SELECT a.id,a.code,a.orderNo,IFNULL(a.parent_id,'0') as 'parentId',a.cname as 'text' FROM base_aclmodule a 
			WHERE a.status = 'Y' ORDER BY a.parent_id,a.orderNo;
	</select>
	
	<select id="findAllAclModule" resultType="AclModule">
		SELECT * FROM base_aclmodule ORDER BY IFNULL(parent_id,0),orderNo;
	</select>
	
	<update id="updateAclModuleStatus">
	   	update base_aclmodule set status = #{status} where code = #{code};   	
	</update>
	
</mapper>