<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesys.base.sysmag.aclbutton.dao.AclButtonMapper">
	
	<resultMap type="AclButton" id="AclButtonOrModelResultMap">
		<id column="id" property="id"/>
		<result column="version" property="version"/>
		<result column="cname" property="cname"/>
		<result column="code" property="code"/>
		<result column="status" property="status"/>
		<result column="module_id" property="module_id"/>
		<result column="mid" property="module.id"/>
		<result column="mcname" property="module.cname"/>
		<result column="mcode" property="module.code"/>
		<result column="actionmethodright" property="actionmethodright"/>
	</resultMap>
	
	<resultMap type="AclButton" id="AclButtonResultMap">
		<id column="id" property="id"/>
		<result column="version" property="version"/>
		<result column="cname" property="cname"/>
		<result column="code" property="code"/>
		<result column="module_id" property="module_id"/>
		<result column="status" property="status"/>
		<result column="iconName" property="iconName"/>
		<result column="actionmethodright" property="actionmethodright"/>
	</resultMap>
	
	<sql id="commonWhereSql">
		<trim prefix="where" prefixOverrides="and|or">
		    <if test="aclButton.cname != null and aclButton.cname != ''">
		    	a.cname like concat('%',#{aclButton.cname},'%')
		    </if>
		    <if test="aclButton.code != null and aclButton.code != ''">
		    	and a.code like concat('%',#{aclButton.code},'%')
		    </if>
		     <if test="aclButton.module_id != null and aclButton.module_id != ''">
		    	and a.module_id=#{aclButton.module_id}
		    </if>
		     <if test="aclButton.status != null and aclButton.status != ''">
		    	and a.status=#{aclButton.status}
		    </if>
		</trim>   	
	</sql>
	<select id="findFlexiPageAclButtonCount" parameterType="AclButton" resultType="Long">
		select count(0) from base_aclbutton a 
		<include refid="commonWhereSql"></include>  		
	</select>		
	<select id="findFlexiPageAclButtons"  resultMap="AclButtonOrModelResultMap">
	    select a.*,b.id as mid,b.code as mcode,b.cname as mcname from base_aclbutton a left join base_aclmodule b on b.id=a.module_id
		<include refid="commonWhereSql"></include>  
		order by lastModifyTime desc
		LIMIT #{flexiPageDto.seq},#{flexiPageDto.rp}   
	</select>
	
	<select id="findAclButtonByModelCode" resultMap="AclButtonResultMap">
		select a.* from base_aclbutton a LEFT JOIN base_aclmodule b ON a.module_id=b.id 
			where b.code=#{code} and a.code != 'add';
	</select>
	
	<select id="findAclButtonsByModelIdAndRoleId" resultMap="AclButtonResultMap">			
		SELECT a.*,ifnull(c.permission,0) as actionmethodright FROM base_aclbutton a LEFT JOIN (
				select * from base_aclrolebutton b where b.module_id=#{modelId} and b.role_id=#{roleId}
			) c  on a.id=c.button_id 
			WHERE    a.module_id=#{modelId}  
			order by a.id asc
	</select>
	
	<select id="findAclButtonByCodeOrModelId" resultMap="AclButtonResultMap">
		select * from base_aclbutton where module_id=#{modelId} and code=#{code}
	</select>
	<select id="findAclButtonsByModelId" resultMap="AclButtonOrModelResultMap">			
		select a.*,b.id as mid,b.cname as mcname,b.code as mcode 
		from base_aclbutton a inner join base_aclmodule b on  b.id=a.module_id where module_id=#{modelId}
	</select>
	<select id="findAclButtonsById" resultMap="AclButtonOrModelResultMap">
		select  a.*,b.id as mid,b.code as mcode,b.cname as mcname from base_aclbutton a left join base_aclmodule b on b.id=a.module_id where a.id=#{id}
	</select>
	
	<select id="findFlexiPageAclButtonByParamCount" parameterType="String" resultType="Long">
		select count(0) from base_aclbutton a where (a.cname like concat('%',#{param},'%') or  a.code like concat('%',#{param},'%') or a.id=#{param}) and a.status='Y'
	</select>
	<select id="findFlexiPageAclButtonByParam"  resultMap="AclButtonOrModelResultMap">
	    select a.*,b.id as mid,b.code as mcode,b.cname as mcname from base_aclbutton a left join base_aclmodule b on b.id=a.module_id
		where (a.cname like concat('%',#{param},'%') or  a.code like concat('%',#{param},'%') or a.id=#{param}) and a.status='Y'		
		LIMIT #{flexiPageDto.seq},#{flexiPageDto.rp}   
	</select>		
	<update id="updateAclButtonStatus">
	   	update base_aclbutton set status = #{status} where id = #{id};
	</update>
	
	
	
	
</mapper>