.wrapper { width: 1150px; margin-left: 16px;margin-top: 16px;border: 1px solid #cfcfcf;background: #fff; }
/*.mod-toolbar-top { padding-right: 0; }*/
#toolBottom{padding: 0 45px 15px 0;}
.ui-combo-wrap .input-txt, .ui-droplist-wrap .list-item { font-size: 12px; }
.ui-datepicker-input { font-size: 12px; }
/*voucher_wrap*/
#toolTop { padding: 0px 45px; margin: 15px 0;}
.voucher_wrap {padding: 0 45px; width: 650px; background: #fff; position: relative; padding-top: 0; }
.voucher_tit { display: inline; margin-right: 20px; font: 28px/1.8 "Microsoft Yahei"; text-align: center; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); }
.voucher_top { padding-top: 10px; margin-bottom: 10px; overflow: hidden; zoom: 1; }
.voucher_top .date_wrap { display: inline-block; *display:inline;
zoom: 1; margin-left: 0px; vertical-align: middle; }
.voucher_top .mark_wrap, .voucher_top .tit_wrap { float: left; }
.voucher_top .tit_wrap { margin: -23px 0 0 110px; }
.voucher_top .attach_wrap { float: right; }
.voucher_top .attach_wrap .ui-input { width: 25px; }
#vch_mark, #skip-mark-select { display: inline-block; *display:inline; zoom: 1; }
/*voucher*/
.voucher { border-collapse: collapse; margin: 0 0 10px -28px; }
.voucher th, .voucher td { border: 1px solid #666; }
.voucher thead th { border-top-width:2px; }
.voucher tfoot td { border-bottom-width:2px; }
.voucher .col_summary, .voucher .col_total{ border-left-width:2px;}
.voucher .col_totalamount{ border-right-width:2px;}
/*.col_quantity, .col_currency{ display:none; }*/
.voucher td.col_unitprice, .voucher td.col_totalamount, .voucher td.col_money, .money_unit { background-image: url(/images/money_rp.png); background-repeat: repeat-y; }
.voucher th { height: 48px; color: #555555; font-size: 14px; text-align: center; font-weight: bold; overflow: hidden; }
.voucher .col_money{ font-size:12px; }
.voucher .col_money .tit { display: block; height: 25px; line-height: 25px; }
.voucher .money_unit { height: 22px; line-height: 22px; font-weight: normal; border-top: 1px solid #dadada; text-align: center; }
.voucher .money_unit span { float: left; display: inline; width: 19px; height: 100%; margin-right: 1px; background-color: #fff; }
.voucher .money_unit .last { margin-right: 0; width:18px;}
.voucher td { height: 60px; }
/*增减行*/
.operate { visibility:hidden; width:26px; }
.voucher .col_operate { text-align: center; width: 26px; border: 1px solid #FFF; border-right: 1px solid #ccc; }
.voucher .col_operate a { display: block; width: 16px; height: 16px; background: url('/images/Y.gif') no-repeat -112px -96px; vertical-align: middle; }
.voucher .col_operate a:hover { background-position: -112px -112px; }
.voucher .col_operate .del { margin-top: 5px; background-position: -128px -96px; }
.voucher .col_operate .del:hover { background-position: -128px -112px; }

/*借贷金额*/
.voucher .col_unitprice, .voucher .col_totalamount, .voucher .col_money { width: 221px; }
.voucher .col_unitprice .cell_val, .voucher .col_totalamount .cell_val { overflow: hidden; font-family: 'tahoma'; font-weight: bold; font-size: 14px; letter-spacing: 11px; overflow: hidden; position: relative; right: -5px; *right: 4px;
text-align: right; }

.edit_money { font-family: Verdana, Geneva, sans-serif; font-size: 20px; width: 208px; text-align: right; overflow: hidden; ime-mode: disabled; }

.voucher tbody tr.current { background: #f8f8f8; }
.voucher tbody tr.current .col_operate { background-color: #fff; }
.voucher tbody tr.current .operate { visibility:visible; }
.voucher tbody tr.current .option { visibility:visible; }
.voucher tbody tr.current .curBalance { visibility:visible; }


.voucher .col_summary{ width: 280px; }
.voucher .col_amounttype{ width: 100px; }
.voucher .col_unit, .voucher .col_qty { width: 60px; }

.example-wrap{margin-left: 30px;}

.varQty{text-align: right;border: 0;background:#D1EEEE;}
.moneyinput{border: 0;height: 68px;width: 98%;position: relative;right: 5px; text-align: right;}

.chosen-container-active .chosen-single {border: 0;box-shadow: 0 0 0px rgba(0, 0, 0, 0);}
.chosen-container-single .chosen-single {border: 0;background: white;box-shadow: 0 0 0px white inset, 0 0px 0px rgba(0, 0, 0, 0.1);}

/*行操作按钮 新增一行/删除一行*/
