<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thesys.base.sysmag.aclmenu.dao.AclMenuMapper">
	<resultMap type="AclModule" id="AclModuleResultMap">
		<id column="id" property="id"/>
		<result column="cname" property="cname"/>
		<result column="code" property="code"/>
		<result column="url" property="url"/>
		<result column="orderNo" property="orderNo"/>
		<result column="prtcode" property="parent.code"/>
				
	</resultMap>
	<resultMap type="AclMenu" id="AclMenu_ResultMap">
		<id column="id" property="id"/>
		<result column="module_id" property="module_id"/>
		<result column="user_id" property="user_id"/>
		<result column="seq" property="seq"/>
		<result column="createBy_id" property="createBy_id"/>
		<result column="createByName" property="createByName"/>
		<result column="createTime" property="createTime"/>
		<result column="lastModifyBy_id" property="lastModifyBy_id"/>
		<result column="lastModifyByName" property="lastModifyByName"/>
		<result column="lastModifyTime" property="lastModifyTime"/>
	</resultMap>
	<select id="findAclMenuByUserId" parameterType="String" resultMap="AclModuleResultMap">
		select b.*,c.code as prtcode from base_aclmenu a inner join base_aclmodule b on a.module_id=b.id left join  base_aclmodule c on c.id=b.parent_id
		 where user_id=#{user_id}
	</select>
	
	
	<insert id="addAclMenu">
	   insert into base_aclmenu(version,user_id,module_id,seq,createBy_id,createByName,createTime,lastModifyBy_id,lastModifyByName,lastModifyTime)values
	   <foreach collection="details" item="detail" index="index" separator=",">
 			(0,#{detail.user_id},#{detail.module_id},#{detail.seq},#{detail.createBy_id},#{detail.createByName},now(),#{detail.lastModifyBy_id},#{detail.lastModifyByName},now())	   
	   </foreach>	   	
	</insert>
	<delete id="delAclMenu" parameterType="AclMenu">
	    delete from base_aclmenu where user_id=#{aclMenu.user_id} and module_id=#{aclMenu.module_id};
	</delete>
	<delete id="deleteAclMenuByModuleId">
	    delete from base_aclmenu where module_id=#{moduleId};
	</delete>
	
</mapper>