<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>ycrm</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root1</param-value>
	</context-param>

	<context-param>
		<param-name>xmlFile</param-name>
		<param-value>WEB-INF/classes/proxool.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.thesys.core.proxool.ProxoolListener</listener-class>
	</listener>

	<!-- Spring配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml,classpath:applicationContextMvc.xml,classpath:applicationContextSecurity.xml,classpath:applicationContextNaturalNo.xml,classpath:applicationContextLog.xml</param-value>
	</context-param>

	<!-- URL 记录 过滤器 -->
	<filter>
		<filter-name>UrlRecordFilter</filter-name>
		<filter-class>com.thesys.core.filter.UrlRecordFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRecordFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- SpringSecurity必须的filter start -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- SpringSecurity必须的filter end -->
	<!-- spring 多语言 jsp 中文编码 乱码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.thesys.base.configuration.IcZoomContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Spring Security会话控制 -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<!-- session 监听器 2016年8月22日11:38:45 -->
	<listener>
		<listener-class>com.thesys.core.listener.WebSessionListener</listener-class>
	</listener>
	<!-- Tomcat 监听器 -->
	<listener>
		<listener-class>com.thesys.core.listener.TomcatListener</listener-class>
	</listener>

	<!-- 这里是观察proxool的运行情况的，开启多少连接，最大连接什么的，在地址栏可以直接访问 -->
	<servlet>
		<servlet-name>proxooladmin</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxooladmin</servlet-name>
		<url-pattern>/proxool.admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:applicationContextMvc.xml
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- dwr 消息推送 -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>pollAndCometEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>


	<!-- Session 过期时间 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- Session复制 -->
	<distributable />
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>/login.html</welcome-file>
	</welcome-file-list>


</web-app>
